<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="createAccount">
    <v-stepper v-model="el">
      <v-snackbar top  v-model="snackbar" v-bind:color="snackbarColor" v-bind:timeout="4000">
        {{snackbarText}}
        <v-btn text v-on:click="snackbar=false" color="white">Close</v-btn>
      </v-snackbar>
      <v-stepper-header>
        <v-stepper-step v-bind:complete="el > 1" step="1">Your personal keys</v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step v-bind:complete="el > 2" step="2">
          Edit your profile
            <small>Optional</small>
        </v-stepper-step>
        <v-divider></v-divider>
        <v-stepper-step step="3">
          Add some new friends!
            <small>Optional</small>
        </v-stepper-step>
      </v-stepper-header>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card min-height="500px">
            <v-container>
              <v-row justify="center">
                <v-col align="center" lg="4">
                  <label class="font-weight-light title">Your private key is: </label>
                  <qrcode-vue
                    v-bind:size="size"
                    v-bind:value="`${privateKey}`"
                    level="H"
                    class="pt-10"
                    >
                  </qrcode-vue>
                </v-col>
                <v-col align="center" lg="4">
                  <label class="font-weight-light title">Your public key is: </label>
                  <qrcode-vue
                    v-bind:size="size"
                    v-bind:value="`${publicKey}`"
                    level="H"
                    class="pt-10"
                    >
                  </qrcode-vue>
                </v-col>
              </v-row>
              <v-row justify="center" class="mt-1">
                <keys-dialog></keys-dialog>
              </v-row>
            </v-container>
          </v-card>
          <v-col align="center">
            <v-btn v-on:click="el = 2" class="my-6" color="primary">Continue</v-btn>
          </v-col>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-card min-height="500px">
            <profile-form></profile-form>
          </v-card>
          <v-col align="center">
            <v-btn v-on:click="el = 3" class="my-6" color="primary">Continue</v-btn>
          </v-col>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-card>
            <v-card-title class="justify-center">Adds some new friends!</v-card-title>
            <v-card-actions>
              <v-container>
                <v-row justify="center">
                  <code-processor></code-processor>
                </v-row>
              </v-container>
            </v-card-actions>
          </v-card>
          <v-col align="center">
            <v-btn v-on:click="createAccount" class="my-6" color="primary">Continue</v-btn>
          </v-col>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>

</template>


<script>

import { bus } from "../main.js";
import codeProcessor from "../components/codeProcessor.vue";
import eccrypto from "eccrypto";
import KeysDialog from "../components/KeysDialog.vue";
import ProfileForm from "../components/ProfileForm.vue";
import QrcodeVue from "qrcode.vue";

export default {
  data () {
    return {
      el: 1,
      privateKey: this.$store.state.privateKey.toString('hex'),
      publicKey: this.$store.state.publicKey.toString('hex'),
      size: 300,
      snackbar: false,
      snackbarColor: '',
      snackbarText: ''
    }
  },
  methods: {
    /**
    * Generates the history and the first block in the blockchain.
    * Adds the user to the friends list and the buffer.
    * Sets the actualKey to the public key.
    * Redirects to the template.
    */
    createAccount: function () {
      this.$store.state.history.createGenesisBlock(this.$store.state.privateKey);
      let genesisBlock = this.$store.state.history.chain[0];
      eccrypto.sign(this.$store.state.privateKey, this.$store.state.toArray(genesisBlock.hash))
        .then(async signature => {
          genesisBlock["signature"] = signature.toString('hex');
          this.$store.dispatch('post');
        });

      this.$store.state.history.friends.splice(0, 0, {
        name: this.$store.state.history.profile.name,
        key: this.publicKey
      });
      this.$store.state.buffer[this.publicKey] = {
        hash: null,
        holding: this.$store.state.history
      }
      this.$store.state.actualKey = this.publicKey;

      this.$router.push({path: "/template"});
    }
  },
  components: {
    "code-processor": codeProcessor,
    "keys-dialog": KeysDialog,
    "profile-form": ProfileForm,
    "qrcode-vue": QrcodeVue,
  },
  beforeCreate() {
    this.$store.state.privateKey = eccrypto.generatePrivate();
    this.$store.state.publicKey  = eccrypto.getPublic(this.$store.state.privateKey);
  },
  created() {
    bus.$on('processFinished', (data) => {
      this.snackbar = true;
      this.snackbarText = data.text;
      this.snackbarColor = data.color;
    });
  }
}

</script>

<style scoped>

</style>
