<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="main" height="100%" class="blue lighten-2">
    <div id="wrapper">
      <v-snackbar top  v-model="snackbar" v-bind:color="snackbarColor" v-bind:timeout="4000">
        {{snackbarText}}
        <v-btn text v-on:click="snackbar=false" color="white">Close</v-btn>
      </v-snackbar>
      <v-container>
        <v-row class="mt-n12 pb-10">
          <v-col align="center">
            <v-img src="../assets/main_logo.png"
              max-height="94"
              max-width="534"
              class="mt-n10"
              >
            </v-img>
          </v-col>
        </v-row>
        <v-row justify="center" class="white--text">
          <p>Scan your private key</p>
        </v-row>
        <v-row justify="center" class="mt-n5">
          <div width="300px">
            <v-container>
              <v-row>
                <v-tabs
                  align-with-title
                  dark
                  grow
                  v-model="codeTabs"
                  background-color="transparent"
                  class="ml-n11"
                >
                  <v-tab>Dropzone</v-tab>
                  <v-tab>Camera</v-tab>
                </v-tabs>
              </v-row>
              <v-row>
                <v-col align="center">
                  <v-tabs-items id="tabsMain" v-model="codeTabs">
                    <v-tab-item>
                      <qrcode-drop-zone v-on:decode="getPrivateKey">
                        <div id="dropZoneMain" class="mt-3 white--text">
                          Drop your private key QR code here
                        </div>
                      </qrcode-drop-zone>
                    </v-tab-item>
                    <v-tab-item>
                      <qrcode-stream id="cameraMain" v-on:decode="getPrivateKey"></qrcode-stream>
                    </v-tab-item>
                  </v-tabs-items>
                </v-col>
              </v-row>
            </v-container>
          </div>
        </v-row>
        <v-row justify="center" class="mt-n2">
          <v-col align="center" sm="11" md="9" lg="7">
            <v-text-field
              dark
              label="Enter your hash"
              ref="cidInput" v-model="cid"
              v-bind:rules="rules"
              >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col align="center" xs="12" sm="12" md="12" lg="2">
            <v-btn  dark tile v-on:click="signIn" color="blue darken-3">Sign in</v-btn>
            <v-overlay v-bind:value="overlay">
              <v-progress-circular indeterminate color="white"></v-progress-circular>
            </v-overlay>
            <error-dialog
              v-bind:errorActivator="error"
              v-bind:errorText="errorMessage"
              v-bind:errorTitle="errorTitle"
              >
            </error-dialog>
          </v-col>
          <v-col align="center" xs="12" sm="12" md="12" lg="2">
            <v-btn dark tile to="/create-account" color="blue darken-3">Create account</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>

</template>


<script>

import { bus } from "../main.js";
import eccrypto from "eccrypto";
import ErrorDialog from "../components/ErrorDialog.vue";

export default {
  data () {
    return {
      cid: "",
      codeTabs: null,
      error: false,
      errorMessage: "",
      errorTitle: "",
      overlay: false,
      rules: [
        v => v.length === 46 && v.substring(0, 2) === "Qm" || "Please enter a valid IPFS CID"
      ],
      snackbar: false,
      snackbarColor: '',
      snackbarText: '',
      state: this.$store.state,
    }
  },
  methods: {
    /**
    * Changes the color of the drop zone.
    * @param {string} color - Color the drop zone will be changed.
    */
    changeDropZone: function(color) {
      let dropZoneMain = document.getElementById('dropZoneMain');
      dropZoneMain.classList.remove("white--text");
      dropZoneMain.style.color = color;
      dropZoneMain.style.borderColor = color;
    },
    /**
    * Tries to set the private key. If not, raises an error.
    * @param {string} decodedPrivateKey - Private key obtained from a QR code.
    */
    getPrivateKey: function(decodedPrivateKey) {
      this.error = false;

      try {
        this.state.privateKey = Buffer.from(this.state.toArray(decodedPrivateKey));
        this.state.publicKey = eccrypto.getPublic(this.state.privateKey);
        this.changeDropZone("#66ff66");
        this.snackbar = true;
        this.snackbarColor = "success";
        this.snackbarText = "Private key succesfully detected.";
      } catch {
        this.error = true;
        this.errorTitle = "Bad private key";
        this.errorMessage = "Please choose a valid private key."
        this.changeDropZone("red");
      }

    },
    /**
    * Verifies the information inputed is correct. If so, it retrieves the history
    * from the network. Then it proceeds decrypt the friend list. Afterwards it
    * verifies every publication in the history and sets it to the state.history
    * and the buffer. If any of this steps fail it raises an error.
    */
    signIn: async function() {
      if (this.$refs.cidInput.validate() && this.state.privateKey !== null && this.state.publicKey !== null) {
        this.overlay = true;

        let retrievedHistory = await this.state.retrieveIPFS(this.state, this.cid);
        let historyJSON = JSON.parse(retrievedHistory);

        let parsed = JSON.parse(historyJSON.friends);

        let toDecrypt = {};

        /* This is done to set the prototype of the encrypted data to Uint8Array(65),
        so it can be properly decrypted. */
        Object.keys(parsed).forEach(key => {
          toDecrypt[key] = Uint8Array.from(parsed[key].data);
          toDecrypt[key].__proto__ = this.state.publicKey.__proto__;
        });

        eccrypto.decrypt(this.state.privateKey, toDecrypt)
          .then(plaintext => {

            historyJSON.friends = JSON.parse(plaintext.toString());

            /**
            * Sets the verified chain to state.history and the buffer.
            * Sets the actual key to the user public key.
            * Redirects to the template.
            * @param {Object} state - The Vuex state.
            * @param {Object} router - The Vuex router.
            * @param {Array} verified - Array where the verified publications will be pushed.
            * @param {string} cid - Cid of the history.
            */
            function processInformation(store, router, verified, cid) {
              historyJSON.chain = verified;
              store.state.history = historyJSON;

              store.state.history.friends.slice(1).forEach(friend => {
                store.dispatch('processCode', {
                  content: friend.key,
                  push: false
                });
              });

              store.state.buffer[store.state.publicKey.toString('hex')] = {
                hash: cid,
                holding: store.state.history
              }

              store.state.actualKey = store.state.publicKey.toString('hex');

              router.push({path: "/template"});
            }

            let verified = [];
            let args = [this.$store, this.$router, verified, this.cid]

            this.$store.state.verifyChain(this.state, historyJSON, this.state.publicKey.toString('hex'), verified, processInformation, args)

          })
          .catch(error => {
            this.overlay = false;
            this.error = true;
            this.errorTitle = "Bad private key.";
            this.errorMessage = "The private key you entered and the key required for the history does not match.";

            throw "Could not decrypt friends: " + error;
          });

      }
    }
  },
  components: {
    "error-dialog": ErrorDialog
  },
  beforeCreate() {
    bus.$on('errorOff', () => {
      this.error = false;
    });
  },
  created() {
    this.error = true;
    this.errorTitle = "IMPORTANT";
    this.errorMessage = "This is a prototype which aim is to show how a theorethical social network " +
    "could work on IPFS, therefore it lacks proper security and privacy settings. YOU SHOULD NOT SHARE " +
    "ANY PERSONAL OR SENSITIVE INFORMATION THROUGH THIS MEDIUM. It is designed to work only as a simple " +
    "sandbox to play with as a demonstration of the basic functions of the project."
  }
}

</script>

<style scoped>

#cameraMain {
  width: 250px;
  height: 220px;
}

#dropZoneMain {
  width: 250px;
  height: 220px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #FFF;
  padding: 70px;
}

#main {
  height: 100%;
  padding: 100px;
}

#tabsMain {
  background-color: transparent;
}

</style>
