<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="template">
    <v-container fluid>
      <v-row>
        <navbar-ver></navbar-ver>
      </v-row>
      <v-row>
        <v-col align="left" lg="3" class="hidden-sm-and-down">
          <v-container class="fixed">
            <v-row>
              <add-friend class="mt-3"></add-friend>
            </v-row>
            <v-row>
              <friendlist listId="wallProfileList" class="mt-7"></friendlist>
            </v-row>
            <v-row>
              <add-extension class="mt-7"></add-extension>
            </v-row>
            <v-row></v-row>
            <v-row>
              <extension-list class="mt-7"></extension-list>
            </v-row>
          </v-container>
        </v-col>
        <v-col xs="12" lg="5" class="ml-10">
          <v-container>
            <add-publication v-if="state.tabs === 0 || state.tabs === 1" width="500px"></add-publication>
            <v-row justify="center" class="hidden-lg-and-up mb-12 mt-4">
              <my-profile-info v-if="state.tabs === 0" cardId="my-profile-info-hidden"></my-profile-info>
              <profile-card
                v-if="state.tabs === 1"
                v-bind:userData="userData"
                cardId="profileCard-wall-hidden"
                >
              </profile-card>
            </v-row>
            <v-sheet color="grey lighten-5">
              <v-tabs-items v-model="state.tabs">
                <v-tab-item>
                  <v-sheet color="grey lighten-5">
                    <wall-publications
                      v-bind:userData="state.buffer"
                      dynamicId="wallPublications"
                      class="mt-7"
                      >
                    </wall-publications>
                  </v-sheet>
                </v-tab-item>
                <v-tab-item>
                  <v-sheet color="grey lighten-5">
                    <publications
                      v-bind:userData="userData"
                      dynamicId="profilePublications"
                      >
                    </publications>
                  </v-sheet>
                </v-tab-item>
                <v-tab-item>
                  <v-sheet color="grey lighten-5">
                    <v-container>
                      <v-row justify="center">
                        <add-friend></add-friend>
                      </v-row>
                      <v-row justify="center">
                        <friendlist listId="tabList" class="mt-12"></friendlist>
                      </v-row>
                    </v-container>
                  </v-sheet>
                </v-tab-item>
                <v-tab-item>
                  <v-sheet color="grey lighten-5">
                    <v-container>
                      <v-row justify="center">
                        <add-extension></add-extension>
                      </v-row>
                      <v-row justify="center">
                        <extension-list class="mt-12"></extension-list>
                      </v-row>
                    </v-container>
                  </v-sheet>
                </v-tab-item>
              </v-tabs-items>
            </v-sheet>
          </v-container>
        </v-col>
        <v-col align="left" lg="3" class="ml-12 hidden-md-and-down">
          <my-profile-info
            v-if="state.tabs === 0"
            cardId="my-profile-info"
            class="fixed mt-3"
            >
          </my-profile-info>
          <profile-card
            v-if="state.tabs !== 0"
            v-bind:userData="userData"
            cardId="profileCard-wall"
            class="fixed mt-3"
            >
          </profile-card>
        </v-col>
      </v-row>
    </v-container>
  </div>

</template>


<script>

import AddExtension from "../components/AddExtension.vue";
import AddFriend from "../components/AddFriend.vue";
import AddPublication from "../components/AddPublication.vue";
import { bus } from "../main.js";
import Extensionlist from "../components/Extensionlist.vue";
import Friendlist from "../components/Friendlist.vue";
import MyProfileInfo from "../components/MyProfileInfo.vue";
import Navbar from "../components/Navbar.vue";
import ProfileCard from "../components/ProfileCard.vue";
import Publications from "../components/Publications.vue";
import WallPublications from "../components/WallPublications.vue";

export default {
  data () {
    return {
      state: this.$store.state
    }
  },
  components: {
    "add-extension": AddExtension,
    "add-friend": AddFriend,
    "add-publication": AddPublication,
    "extension-list": Extensionlist,
    "friendlist": Friendlist,
    "my-profile-info": MyProfileInfo,
    "navbar-ver": Navbar,
    "profile-card": ProfileCard,
    "publications": Publications,
    "wall-publications": WallPublications
  },
  computed: {
    /**
    * The history of the user.
    * @returns {Object}
    */
    userData: function () {
      let userData = this.state.buffer[this.state.actualKey].holding;
      bus.$emit("userDataChange", {});
      return userData;
    },
  },
  updated() {
    // Updates the the image of every publication when the element is created.
    this.state.history.friends.forEach((friend) => {
      this.$store.commit("updateImage", {
        avatarHash: this.state.buffer[friend.key].holding.profile.avatar,
        class: "avatar" + friend.key
      });
    });

    // Updates the user's avatars if their history changes.
    bus.$on('userDataChange', () => {
      this.state.history.friends.forEach((friend) => {
        this.$store.commit("updateImage", {
          avatarHash: this.state.buffer[friend.key].holding.profile.avatar,
          class: "avatar" + friend.key
        });
      });
    });
  }
}

</script>

<style scoped>

  .fixed {
    position: fixed;
  }

</style>
