<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="addExtension">
    <v-dialog v-model="dialog" width="700px">
      <template v-slot:activator="{ on }">
        <v-btn width="350px" v-on="on" color="error">
          <v-icon left small>mdi-account-plus</v-icon>
          <span>Add Extension</span>
        </v-btn>
      </template>
      <v-card class="px-4">
        <v-card-title>Add an extension </v-card-title>
        <v-card-actions>
          <v-container>
            <v-form ref="extensionForm">
              <v-row>
                <v-text-field
                  label="Category"
                  v-model="category"
                  v-bind:rules="categoryRules"
                  class="mx-3"
                  >
                </v-text-field>
              </v-row>
              <v-row>
                <v-text-field
                  label="Name"
                  v-model="name"
                  v-bind:rules="nameRules"
                  class="mx-3"
                  >
                </v-text-field>
                <v-text-field
                  label="Extension URL"
                  v-model="url"
                  v-bind:rules="urlRules"
                  class="mx-3"
                  >
                </v-text-field>
              </v-row>
            </v-form>
            <v-row>
              <v-spacer></v-spacer>
              <v-btn
                dark
                v-on:click="addExtension(category, name, url)"
                class="mb-3 mr-3 mt-5"
                color="green"
                >
                Add extension
              </v-btn>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>

</template>


<script>

import { bus } from "../main.js";

export default {
  data () {
    return {
      category: "",
      categoryRules: [v => !!v || 'The category is required'],
      dialog: false,
      extensions: this.$store.state.history.extensions,
      name: "",
      nameRules: [v => !!v || 'The name is required'],
      url: "",
      urlRules: [
        v => !!v || 'The url is required',
        v => v.length > 8 || 'A valid https url must be at east 9 characters long',
        v => (v.slice(0, 8) === "https://") || 'You must enter a valid https URL'
      ]
    }
  },
  methods: {
    /**
    * Adds an extension to the the extensions list.
    * @param {string} category - Category under which the extension must be saved.
    * @param {string} name - Name of the extension.
    * @param {string} url - URL of the extension.
    */
    addExtension: function(category, name, url) {
      if (this.$refs.extensionForm.validate()) {

        let newExtension = {name: name, url: url};

        let isCategoryNew = true;

        this.extensions.forEach(element => {
          if (element.category.toLowerCase() === category.toLowerCase()) {
            element.categoryExtensions.push(newExtension);
            isCategoryNew = false;
          }
        });

        if (isCategoryNew === true) {
          this.extensions.push({
            category: category,
            categoryExtensions: [newExtension]
          });
        }

        this.dialog = false;
        bus.$emit('processFinished', {
          text:  `Extension ${name} added sucessfuly!`,
          color: "success"
        });
        this.$refs.extensionForm.reset();
      }
    }
  }
}

</script>

<style scoped>

</style>
