<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="addFriend">
    <v-dialog v-model="dialog" width="350px">
      <template v-slot:activator="{ on }">
        <v-btn width="350px" v-on="on" color="lime">
          <v-icon left small>mdi-account-plus</v-icon>
          <span>Add Friend</span>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>Add a friend</v-card-title>
        <v-card-actions>
          <code-processor class="ml-1"></code-processor>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>

</template>


<script>

import { bus } from "../main.js";
import codeProcessor from "./codeProcessor.vue";

export default {
  data () {
    return {
      dialog: false,
    }
  },
  components: {
    "code-processor": codeProcessor
  },
  created() {
    bus.$on('processFinished', () => {
      this.dialog = false;
    });
  }
}

</script>

<style scoped>

#dropZone {
  width: 300px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #a7d42b;
  padding: 100px;
}

</style>
