<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="addPublication">
    <v-container>
      <v-row>
        <v-textarea solo label="Publish something to the world!" v-model="text"></v-textarea>
      </v-row>
      <v-row>
        <v-col class="ml-n2">
          <v-file-input
            clearable
            v-model="inputFile"
            prepend-icon="mdi-camera"
            v-on:change="uploadFile"
            class="mt-n3"
            >
          </v-file-input>
        </v-col>
        <v-col>
          <v-text-field clearable label="Tags: " v-model="tags" class="mt-n3"></v-text-field>
        </v-col>
        <v-col>
          <v-select
            clearable
            label="Encryption"
            v-model="selectedFriend"
            v-bind:items="friendlist"
            item-text="name"
            item-value="key"
            class="mt-n3"
            >
          </v-select>
        </v-col>
        <v-col lg="1" class="mr-7">
          <v-btn dark rounded v-on:click="post({data: {text: text, file: fileHash}})" color="primary">
            <v-icon>mdi-pen</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>

</template>


<script>

export default {
  data () {
    return {
      fileHash: null,
      friendlist: this.$store.state.history.friends,
      inputFile: null,
      selectedFriend: false,
      state: this.$store.state,
      tags: null,
      text: ""
    }
  },
  methods: {
    /**
    * Verifies if there is tags of the publication should be encrypted. If so, it
    * adds it to the payload. Then it dispatches the 'post' action.
    * @param {Object} payload - Data of the publication.
    */
    post: function(payload) {

      if (this.tags === null) {
        payload.data["tags"] = null;
      } else {
        payload.data["tags"] = this.tags.split(" ");
      }

      if (this.selectedFriend) {
        payload["encrypted"] = this.selectedFriend;
      } else {
        payload["encrypted"] = false;
      }

      this.state.newBlock(this.state, payload)
        .then(() => {
          this.$store.dispatch('post');
        });

      this.text = "";
      this.tags = null;
      this.inputFile = null;
      this.fileHash = null;
      this.selectedFriend = false;
    },
    /** Uploads an image to IPFS and sets the CID to this.fileHash. */
    uploadFile: function() {
      const reader = new window.FileReader();
      reader.readAsArrayBuffer(this.inputFile);
      reader.onloadend = async () => {
        let hash = await this.$store.state.uploadIPFS(this.$store.state, reader.result);
        this.fileHash = hash;
      }
    }
  }
}

</script>

<style scoped>

</style>
