<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="codeProcessor">
    <v-container>
      <v-row>
        <v-tabs
          align-with-title
          grow
          v-model="codeTabs"
          background-color="transparent"
          class="ml-n10"
        >
          <v-tab>Dropzone</v-tab>
          <v-tab>Camera</v-tab>
        </v-tabs>
      </v-row>
      <v-row>
        <v-col align="center">
          <v-tabs-items v-model="codeTabs" class="tabsCodeProcessor">
            <v-tab-item>
              <qrcode-drop-zone v-on:decode="processCode">
                <div class="dropZone grey--text">
                  Drop your friend's QR code here
                </div>
              </qrcode-drop-zone>
            </v-tab-item>
            <v-tab-item>
              <qrcode-stream id="cameraCodeProcessor" v-on:decode="processCode"></qrcode-stream>
            </v-tab-item>
          </v-tabs-items>
        </v-col>
      </v-row>
    </v-container>
    <error-dialog
      v-bind:errorActivator="error"
      v-bind:errorText="errorMessage"
      v-bind:errorTitle="errorTitle"
      >
    </error-dialog>
  </div>

</template>

<script>

import { bus } from "../main.js";
import ErrorDialog from "./ErrorDialog.vue";

export default {
  data () {
    return {
      codeTabs: null,
      dialog: false,
      error: false,
      errorMessage: "",
      errorTitle: "",
      state: this.$store.state
    }
  },
  methods: {
    /**
    * Checks if the decoded key is a valid public key. If so, it dispatches the
    * 'processCode' action. Otherwise, it raises an error.
    * @param {string} decodedKey - Friend's public key.
    */
    processCode: function(decodedKey) {
      let keyToArray = this.state.toArray(decodedKey);

      if (keyToArray.length === 65) {
        this.$store.dispatch('processCode', {
          content: decodedKey,
          push: true
        });
      } else {
        this.error = true;
        this.errorTitle = "Invalid public key."
        this.errorMessage = "Please enter a valid public key."
      }

    }
  },
  components: {
    "error-dialog": ErrorDialog
  },
  beforeCreate() {
    bus.$on('errorOff', () => {
      this.error = false;
    });
  }
}

</script>

<style scoped>

#cameraCodeProcessor {
  width: 300px;
  height: 300px;
}

.dropZone {
  width: 300px;
  border-radius: 25px;
  border-style: dashed;
  border-color: #a7d42b;
  padding: 100px;
}

.tabsCodeProcessor {
  background-color: transparent;
}

</style>
