<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <v-dialog v-model="errorActivator" max-width="500px">
    <v-card color="error">
      <v-card-title class="white--text">{{errorTitle}}</v-card-title>

      <v-card-text class="white--text">{{errorText}}</v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn dark text v-on:click="errorOff">Ok</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>


<script>

import { bus } from "../main.js";

export default {
  props: ["errorActivator", "errorText", "errorTitle"],
  methods: {
    /**
    * Emits an event so the error alert closes. It needs to be done this way
    * because if not the alert pops up over and over again when changing tabs.
    */
    errorOff: function() {
      bus.$emit('errorOff', {});
    }
  }
}

</script>

<style scoped>

</style>
