<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="extensionList">
    <v-card width="350px">
      <v-list rounded>
        <v-list-group preprend-icon="account_circle">
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Extensions ({{extensionsNumber}})</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-sheet max-height="130px" class="scroll">
            <v-list-group
              no-action
              sub-group
              v-for="extension
              in extensions"
              v-bind:key="extension.category"
              >
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>{{extension.category}} ({{extension.categoryExtensions.length}})</v-list-item-title>
                </v-list-item-content>
              </template>
              <v-list-item
                v-for="categoryExtension in extension.categoryExtensions"
                v-bind:href="categoryExtension.url"
                v-bind:key="categoryExtension.url"
                target="_blank"
                >
                <v-list-item-content>
                  <v-list-item-title>{{categoryExtension.name}}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-group>
          </v-sheet>
        </v-list-group>
      </v-list>
    </v-card>
  </div>

</template>


<script>

export default {
  data () {
    return {
      extensions: this.$store.state.history.extensions,
    }
  },
  computed: {
    /**
    * Total number of the extensions in the extension list.
    * @returns {number}
    */
    extensionsNumber: function() {
      let total = 0;

      this.extensions.forEach(category => {
        total += category.categoryExtensions.length;
      });

      return total;
    }
  }
}

</script>

<style scoped>

</style>
