<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div v-bind:id="listId">
    <v-card min-width="350px">
      <v-list rounded>
        <v-list-group preprend-icon="account_circle">
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Friendlist ({{friends.length}})</v-list-item-title>
            </v-list-item-content>
          </template>
          <v-sheet max-height="130px" class="scroll">
            <v-list-item v-for="friend in friends" v-bind:key="friend.key" v-on:click="atSelected(friend.key)">
              <v-list-item-avatar class="justify-center" color="purple">
                <img
                  v-if="buffer[friend.key].holding.profile.avatar !== null"
                  v-bind:class="'avatar' + friend.key"
                  >
                <span v-else class="subtitle-1 white--text">{{friend.name.charAt(0)}}</span>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{friend.name}}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-sheet>
        </v-list-group>
      </v-list>
    </v-card>
  </div>

</template>


<script>


export default {
  props: ['listId'],
  data () {
    return {
      friends: this.$store.state.history.friends,
      state: this.$store.state,
      buffer: this.$store.state.buffer
    }
  },
  methods: {
    /**
    * Sets the actual key to frind's key and the tab to 'Profile'.
    * @param {string} key - Selected friend key.
    */
    atSelected: function(key) {
      this.$store.state.actualKey = key;
      this.$store.state.tabs = 1;
    }
  }
}

</script>

<style scoped>

</style>
