<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <v-dialog v-model="dialog" width="600">
     <template v-slot:activator="{ on }">
       <v-btn class=" mb-5 mt-3" v-on="on" color="success">What is this?</v-btn>
     </template>
     <v-card>
       <v-card-title primary-title class="headline">Private and public keys</v-card-title>
       <v-card-text>
         <p>
           Versatile accounts are no more than a pair of cryptographic keys (secp256k1
           in this case) that are used to public, encrypt, decrypt and transmit your publications
           as well as other relevant data (profile info, friends, extensions, etc.).
         </p>
         <p class="headline">What is a private key?</p>
         <p>
           Asymetric encryption generates a pair of keys: the "private" one, which is the first
           one to be generated, and the "public" one generated from the private key and mathematically
           related to it. Versatile is more like a protocol for the transmission of information rather than
           a traditional social network. Becase of that, your public key is the identifier of all your
           personal information and the private key controls everything related to that information.
           You can think of your private key as your digital signature, that will
           be used to sign all your activity across the network. It will also be used
           to generate the unique identificator of your very first publication. It is important to
           remember that you should keep your private key secret in a safe place and
           TO NOT GIVE IT TO ANYONE as that will grant that person the power to control all your information.
           Because the public and private key are crytographically related you won't be able to remove that permission.
         </p>
         <p class="headline">What is a public key?</p>
         <p>
           Following the previously stated analogy, your public key is like your account number. It is
           used to identify and locate your information in the network. Your public key is used to create
           the channel where all your updated information is loaded and where all of your friends will
           get it. Unlike the private key, there is no risk in sharing it, to the contrary, it was meant
           to be shared. This is the one that you should give to anyone you want to "follow" you and the one
           you should request if you want to follow someone. But be careful, because once a person acquires
           it, he or she will be able to see everything you shared (except for encrypted information) and
           you won't be able to remove that access.
         </p>
          <p class="headline">What happens if I lose my keys?</p>
          <p>
          Your personal keys are unique and are generated only once. If you lose access to them then
          you will also lose access to your personal data in the network and you won't be able to
          recover it. In that case you will need to create a new account (new pair of keys). For this
          reason we strongly recommend you to keep your keys (specially your private one) always with
          you in a safe place where you can have easy access to them.
          </p>
       </v-card-text>
       <v-divider></v-divider>
       <v-card-actions>
         <v-spacer></v-spacer>
         <v-btn text v-on:click="dialog = false" color="success">Ok</v-btn>
       </v-card-actions>
     </v-card>
  </v-dialog>

</template>


<script>

export default {
  data () {
    return {
      dialog: false
    }
  }
}

</script>

<style scoped>

</style>
