<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div v-bind:id="cardId">
    <v-card height="550px" width="400px">
      <v-container>
        <v-row justify="start">
          <v-btn
            block
            dark
            text
            v-if="edit === false"
            v-on:click="edit = true"
            class="mt-n3 px-5 py-3"
            color="blue"
            >
            Edit
          </v-btn>
          <v-btn block dark text v-else v-on:click="updateInfo" class="mt-n3 px-5 py-3" color="red">Done</v-btn>
        </v-row>
        <v-row justify="center" >
          <v-avatar size="150" class="mt-2" color="purple">
            <span
              v-if="state.history.profile.avatar === null"
              class="display-3 white--text"
              >
              {{state.history.profile.name.charAt(0)}}
            </span>
            <img v-else v-bind:class="'avatar' + state.publicKey.toString('hex')">
          </v-avatar>
        </v-row>
        <v-row v-if="edit === true" justify="center">
          <v-file-input
            dense
            outlined
            label="Choose a new an avatar"
            ref="fileInput"
            v-model="file"
            v-bind:rules="rules"
            prepend-icon="mdi-camera"
            v-on:change="updateNewAvatar"
            class="mt-6 px-12"
            >
          </v-file-input>
        </v-row>
        <v-row v-if="edit === false" justify="center" class="mt-8 px-9">
          <v-divider class="mt-n1"></v-divider>
        </v-row>
        <v-row justify="center">
          <v-card-title v-if="edit === false" class="mt-n1">{{state.history.profile.name}}</v-card-title>
          <v-text-field
            dense
            outlined
            label="Write a profile name"
            v-else
            v-model="name"
            class="mt-n1 px-12"
            >
          </v-text-field>
        </v-row>
        <v-row justify="center" class="mt-n5">
          <v-sheet v-if="edit === false" height="80px" class="mt-3 scroll">
            <v-card-subtitle class="px-12 text-center">{{state.history.profile.bio}}</v-card-subtitle>
          </v-sheet>
          <v-textarea
            outlined
            label="Write a brief story of yourself!"
            v-else v-model="bio"
            height="90px"
            class="mb-n6 mt-3 px-12"
            >
          </v-textarea>
        </v-row>
        <v-row justify="space-around" class="px-5">
          <v-col>
            <v-row justify="center">
              <v-icon color="black">mdi-calendar</v-icon>
            </v-row>
            <v-row justify="center">
              <v-card-subtitle
                v-if="edit === false"
                class="black--text text-center"
                >
                {{birthday}}
              </v-card-subtitle>
              <v-menu
                offset-y
                ref="menu"
                v-else
                v-model="menu"
                v-bind:close-on-content-click="false"
                transition="scale-transition"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    dense
                    outlined
                    readonly
                    label="Choose your birthday"
                    v-model="date"
                    v-on="on"
                    class="mt-4 px-3"
                  ></v-text-field>
                </template>
                <v-date-picker
                  ref="picker"
                  v-model="date"
                  v-bind:max="new Date().toISOString().substr(0, 10)"
                  min="1950-01-01"
                ></v-date-picker>
              </v-menu>
            </v-row>
          </v-col>
          <v-col>
            <v-row justify="center">
              <v-icon color="black">mdi-map-marker</v-icon>
            </v-row>
            <v-row justify="center">
              <v-card-subtitle
                v-if="edit === false"
                class="black--text text-center"
                >
                {{location}}
              </v-card-subtitle>
              <v-text-field
                dense
                outlined
                label="Write your location"
                v-else
                v-model="editedlocation"
                class="mt-4 px-3"
                >
              </v-text-field>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="mt-n5">
          <v-sheet tile v-if="edit === false" width="100%" class="d-block mt-5" color="grey lighten-3">
            <v-row>
              <v-col>
                <v-row justify="center">
                  <span class="font-weight-bold title">{{state.history.chain.length}}</span>
                </v-row>
                <v-row justify="center">
                  <span class="body-2 mt-1">Publications</span>
                </v-row>
              </v-col>
            </v-row>
          </v-sheet>
        </v-row>
      </v-container>
    </v-card>
  </div>

</template>


<script>

export default {
  props: ['cardId'],
  data () {
    return {
      date: this.$store.state.history.profile.birthday,
      bio: this.$store.state.history.profile.bio,
      edit: false,
      editedlocation: this.$store.state.history.profile.location,
      file: null,
      menu: false,
      name: this.$store.state.history.profile.name,
      rules: [
        value => {
          let imageType = value.type === "image/jpeg" ||
                          value.type === "image/jpg" ||
                          value.type === "image/png" ||
                          value.type === "image/bmp";

        return imageType || "Please select a valid image format (jpeg,jpg, png, bmp)."
        }
      ],
      state: this.$store.state
    }
  },
  methods: {
    /**
    * If the inputed file is a valid one dispatches the 'readFile' action to
    * update user's avatar.
    */
    updateNewAvatar: function() {
      if (this.$refs.fileInput.validate()) {
        this.$store.dispatch("readFile", this.file);
      }
    },
    /** Updates user's personal information. */
    updateInfo: function() {
      this.$store.state.history.profile.name = this.name;
      this.$store.state.history.friends[0].name = this.name;
      this.$store.state.history.profile.bio = this.bio;
      this.$store.state.history.profile.birthday = this.date;
      this.$store.state.history.profile.location = this.editedlocation;

      this.edit = false;
    }
  },
  watch: {
    menu: function(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  computed: {
    /**
    * User's birthday.
    * @returns {string}
    */
    birthday: function() {
      if (this.state.history.profile.birthday === null) {
        return "No birthday provided.";
      } else {
        return this.state.history.profile.birthday;
      }
    },
    /**
    * User's location.
    * @returns {sting}
    */
    location: function() {
      if (this.state.history.profile.location === "Where do you reside?") {
        return "No location provided.";
      } else {
        return this.state.history.profile.location;
      }
    }
  }
}

</script>

<style scoped>

</style>
