<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <nav>
    <v-snackbar top v-model="snackbar" v-bind:color="snackbarColor" v-bind:timeout="4000">
      {{snackbarText}}
      <v-btn text v-on:click="snackbar=false" color="white">Close</v-btn>
    </v-snackbar>
    <v-app-bar app dark color="primary">
      <v-img src="../assets/header_logo.png" max-height="33" max-width="180"></v-img>
      <v-spacer></v-spacer>
      <v-dialog persistent max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn text v-on:click="lastCID = state.buffer[state.publicKey.toString('hex')].hash" v-on="on">
            <v-icon left>mdi-exit-to-app</v-icon>
            <span>Log Out</span>
          </v-btn>
        </template>
        <v-card color="info">
          <v-card-title class="white--text">The CID of your history is: </v-card-title>
          <v-card-text class="white--text">{{lastCID}}</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn dark text v-on:click="logOut">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <template v-slot:extension>
        <v-tabs
          align-with-title
          grow
          v-model="state.tabs"
          background-color="transparent"
        >
          <v-tab>Wall</v-tab>
          <v-tab>Profile</v-tab>
          <v-tab class="hidden-md-and-up">Friends</v-tab>
          <v-tab class="hidden-md-and-up">Extensions</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
  </nav>

</template>


<script>

import { bus } from "../main.js";

export default {
  data () {
    return {
      lastCID: "",
      snackbar: false,
      snackbarColor: '',
      snackbarText: '',
      state: this.$store.state
    }
  },
  methods: {
    /** Logs out and cleans the session. Redirects to the main page. */
    logOut: function() {
      this.$router.push({path: "/"});
      location.reload();
    }
  },
  created() {
    bus.$on('processFinished', (data) => {
      this.snackbar = true;
      this.snackbarText = data.text;
      this.snackbarColor = data.color;
    });

    bus.$on('friendPublished', (data) => {
      this.snackbar = true;
      this.snackbarText = data.text;
      this.snackbarColor = data.color;
    });
  }
}

</script>

<style scoped>

</style>
