<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div id="profileForm">
    <v-form v-model="valid">
      <v-container>
        <v-row justify="start">
          <v-col align="center" xs="12" sm="12" md="12" lg="6">
            <v-row justify="center">
              <v-avatar id="avatar" size="250" color="purple">
                <span
                  v-if="state.history.profile.avatar === null"
                  class="display-4 white--text"
                  >
                  {{state.history.profile.name.charAt(0)}}
                </span>
                <img v-else class="avatarProfileForm">
              </v-avatar>
            </v-row>
            <v-row justify="center" class="mt-5 px-12">
              <v-file-input
                label="Avatar"
                placeholder="Pick an avatar"
                ref="fileInput"
                v-model="avatar"
                v-bind:rules="rules"
                prepend-icon="mdi-camera"
                v-on:change="updateAvatar"
                class="mt-12 px-12"
                >
              </v-file-input>
            </v-row>
          </v-col>
          <v-col xs="12" sm="12" md="12" lg="6">
            <v-row justify="end">
              <v-col>
                <v-text-field label="Name" v-model="name" v-on:input="updateName"></v-text-field>
              </v-col>
            </v-row>
            <v-row justify="end">
              <v-col>
                <v-textarea
                  outlined
                  label="Short biography"
                  v-model="bio"
                  v-on:input="updateBio"
                  >
                </v-textarea>
              </v-col>
            </v-row>
            <v-row justify="end">
              <v-col>
                <v-menu
                  full-width
                  offset-y
                  ref="menu"
                  v-model="menu"
                  v-bind:close-on-content-click="false"
                  transition="scale-transition"
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      readonly
                      label="Birthday date"
                      v-model="date"
                      prepend-icon="mdi-calendar"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    ref="picker"
                    v-model="date"
                    v-bind:max="new Date().toISOString().substr(0, 10)"
                    min="1950-01-01"
                    v-on:change="save"
                  ></v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row justify="end">
              <v-col>
                <v-text-field label="Location" v-model="location" v-on:input="updateLocation"></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>

</template>


<script>

import { bus } from "../main.js";

export default {
  data () {
    return {
      avatar: this.$store.state.history.profile.avatar,
      bio: this.$store.state.history.profile.bio,
      date: this.$store.state.history.profile.birthday,
      location: this.$store.state.history.profile.location,
      menu: false,
      name: this.$store.state.history.profile.name,
      rules: [
        value => {
          let imageType = value.type === "image/jpeg" ||
                          value.type === "image/jpg" ||
                          value.type === "image/png" ||
                          value.type === "image/bmp";

        return imageType || "Please select a valid image format (jpeg,jpg, png, bmp)."
        }
      ],
      state: this.$store.state,
      valid: true
    }
  },
  methods: {
    /**
    * Saves the picked date.
    * @param {string} date - The picked up date.
    */
    save: function(date) {
      this.$refs.menu.save(date);
      this.$store.state.history.profile.birthday = this.date;
    },
    /**
    * If the inputed file is a valid one dispatches the 'readFile' action to
    * update user's avatar.
    */
    updateAvatar: function() {
      if (this.$refs.fileInput.validate()) {
        this.$store.dispatch("readFile", this.avatar);
      }
    },
    /** Updates user's biography. */
    updateBio: function() {
      this.$store.state.history.profile.bio = this.bio;
    },
    /** Updates user's location. */
    updateLocation: function() {
      this.$store.state.history.profile.location = this.location;
    },
    /** Updates user's name. */
    updateName: function() {
      this.$store.state.history.profile.name = this.name;
    }
  },
  watch: {
    menu: function(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  /* Shows user's avatar if he selects an image. */
  updated() {
    bus.$on('userDataChange', () => {
      this.$store.commit("updateImage", {
        avatarHash: this.state.history.profile.avatar,
        class: "avatarProfileForm"
      });
    });
  }
}

</script>

<style scoped>

</style>
