<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div v-bind:id="cardId">
    <v-card height="550px" width="400px">
      <v-container>
        <v-row justify="center">
          <v-avatar size="150" class="mt-8" color="purple">
            <span
              v-if="userData.profile.avatar === null"
              class="display-3 white--text"
              >
              {{userData.profile.name.charAt(0)}}
            </span>
            <img v-else v-bind:class="'avatar' + state.actualKey">
          </v-avatar>
        </v-row>
        <v-row justify="center" class="mt-8 px-9">
          <v-divider class="mt-n1"></v-divider>
        </v-row>
        <v-row justify="center">
          <v-card-title class="mt-n1">{{userData.profile.name}}</v-card-title>
        </v-row>
        <v-row justify="center" class="mt-n5">
          <v-sheet height="80px" class="mt-3 scroll">
            <v-card-subtitle class="px-12 text-center">{{userData.profile.bio}}</v-card-subtitle>
          </v-sheet>
        </v-row>
        <v-row justify="space-around" class="px-5">
          <v-col>
            <v-row justify="center">
              <v-icon color="black">mdi-calendar</v-icon>
            </v-row>
            <v-row justify="center">
              <v-card-subtitle class="black--text text-center">{{birthday}}</v-card-subtitle>
            </v-row>
          </v-col>
          <v-col>
            <v-row justify="center">
              <v-icon color="black">mdi-map-marker</v-icon>
            </v-row>
            <v-row justify="center">
              <v-card-subtitle class="black--text text-center">{{location}}</v-card-subtitle>
            </v-row>
          </v-col>
        </v-row>
        <v-row class="mt-n5">
          <v-sheet tile width="100%" class="d-block mt-5" color="grey lighten-3">
            <v-row>
              <v-col>
                <v-row justify="center">
                  <span class="font-weight-bold title">{{userData.chain.length}}</span>
                </v-row>
                <v-row justify="center">
                  <span class="body-2 mt-1">Publications</span>
                </v-row>
              </v-col>
            </v-row>
          </v-sheet>
        </v-row>
      </v-container>
    </v-card>
  </div>

</template>


<script>

export default {
  props: ['cardId', 'userData'],
  data () {
    return {
      state: this.$store.state
    }
  },
  computed: {
    /**
    * User's birthday.
    * @returns {string}
    */
    birthday: function() {
      if (this.userData.profile.birthday === null) {
        return "No birthday provided.";
      } else {
        return this.userData.profile.birthday;
      }
    },
    /**
    * User's location.
    * @returns {sting}
    */
    location: function() {
      if (this.userData.profile.location === "Where do you reside?") {
        return "No location provided.";
      } else {
        return this.userData.profile.location;
      }
    }
  }
}

</script>

<style scoped>

</style>
