<!--

Copyright (c) 2020 Cesar Cabrera

This file is part of Versatile: Prototype.

Versatile: Prototype is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or any later version.

Versatile: Prototype is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Versatile: Prototype.  If not, see <https://www.gnu.org/licenses/>.

-->

<template>

  <div v-bind:id="dynamicId">
    <v-card
      v-for="publication in sortedPublications"
      v-bind:id="'profile' + publication.hash"
      v-bind:key="publication.hash"
      class="mt-5"
      >
      <v-list-item>
        <v-list-item-avatar class="justify-center" color="purple">
          <img
            v-if="state.buffer[state.actualKey].holding.profile.avatar !== null"
            v-bind:class="'avatar' + state.actualKey"
            >
          <span
            v-else
            class="white--text subtitle-1"
            >
            {{state.buffer[state.actualKey].holding.profile.name.charAt(0)}}
          </span>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title
            v-if="publication.encrypted === state.publicKey.toString('hex')"
            class="font-weight-bold subtitle-1">
            {{userData.profile.name}} published (only for you):
          </v-list-item-title>
          <v-list-item-title v-else class="font-weight-bold subtitle-1">
            {{userData.profile.name}} published:
          </v-list-item-title>
          <v-list-item-subtitle>Date: {{publication.timestamp}}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <div
        v-if="publication.encrypted === false
        || (publication.encrypted === state.publicKey.toString('hex')
        && state.actualKey !== state.publicKey.toString('hex'))"
        >
        <v-card-text
          v-if="publication.data.text !== ''"
          class="text--primary"
          >
          {{publication.data.text}}
        </v-card-text>
        <img
          v-if="!(publication.data.file === null)"
          v-bind:class="'profile' + publication.hash"
          height="100%"
          width="100%"
          >
        <v-card-actions>
          <v-container v-if="!(publication.data.tags === null)">
            <v-row>
              <v-card-subtitle class="ml-n2 mt-n7">Tags: </v-card-subtitle>
            </v-row>
            <v-row>
              <v-chip
                dark
                v-for="chip in publication.data.tags"
                v-bind:key="chip"
                class="ml-2"
                color="orange"
                >
                {{chip}}
              </v-chip>
            </v-row>
          </v-container>
        </v-card-actions>
      </div>
      <v-card-text v-else class="pb-9 text--primary">This publication is encrypted.</v-card-text>
    </v-card>
  </div>

</template>


<script>

import { bus } from "../main.js";

export default {
  props: ['dynamicId', 'userData'],
  data () {
    return {
      state: this.$store.state
    }
  },
  computed: {
    /**
    * User's publications sorted by date.
    * @returns {Array}
    */
    sortedPublications: function () {
      return this.userData.chain.slice().sort((firstPublication, secondPublication) => {
        return new Date(secondPublication.timestamp) - new Date(firstPublication.timestamp);
      });
    }
  },
  created() {
    /* This is done so it loads the page when the template is loaded. If is not
    done, when the user clicks on the 'Profile' tab, it won't show any image. */
    this.$store.state.tabs = 0;

    // Updates the the image of every publication when the element is created.
    this.sortedPublications.forEach(publication => {
      if (publication.data.file !== null) {
        this.$store.commit("updateImage", {
          avatarHash: publication.data.file,
          class: `profile${publication.hash}`,
        });
      }
    });

    // Updates the the image of every publication if user's history changes.
    bus.$on('userDataChange', () => {
      this.sortedPublications.forEach(publication => {
        if (publication.data.file !== null) {
          this.$store.commit("updateImage", {
            avatarHash: publication.data.file,
            class: `profile${publication.hash}`,
          });
        }
      });
    });
  }
}

</script>

<style>

</style>
